<a href="https://colab.research.google.com/github/luckyxxxjm/Python3_Learning_Notes/blob/main/LoopThroughList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working With Lists

## For Loop

A for loop has the form of:

```
for {temperate variable} in {list name}:
  indented lines in the loop
```
Every indented line following the line started with for is considered inside the loop. 

Any lines of code after the for loop that are not indented are executed once without repetition.

When writing for loops that we can choose any name we like for the temperate variable that will be associated with each value in the list.

In [ ]:
musicians = ['Beethoven','Bach','Chopin']
for musician in musicians:
  print(f'{musician} is a great musician.')
print('They wrote many masterpieces.')

Beethoven is a great musician.
Bach is a great musician.
Chopin is a great musician.
They wrote many masterpieces.

Here are several common indentation errors: 
forgetting to indent, 
forgetting to indent additional lines, 
indenting unnecessarily, 
indenting unnecessarily after the loop, 
forgetting the colon.

## Making Numerical Lists

The range() function can generate a series of numbers. Becuase of the off-by-one behavior, Python starts counting at the first value you give it, and it stops when it reaches the second value you provide. 

For example, to print the numbers 1 to 5, you would use range(1,6):

In [ ]:
for value in range(1,6):
  print(value)

1
2
3
4
5

Remark: If the output is different from your expectation, try adjusting your end value by 1. 
Besides, you can pass range() only one argument, and it will start sequence of numbers at 0.

We can use list() function to convert the results of range() directly into a list. 
If you pass a third argument to range(), Python uses that value as a step size when generating numbers.

In [ ]:
EvenNum = list(range(2,11,2))
print(EvenNum)

[2, 4, 6, 8, 10]

You can do simple statistics with numerical list.

In [ ]:
nums = list(range(1,11))
print(nums)
print(min(nums))
print(max(nums))
print(sum(nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
10
55

List comprehension is common in coding since it's shorter with the same result.
It combines the for loop and the creation of new elements into one line, and automatically appends each new element. 

A list comprehension begins with a descriptive name for the list. Next, open a set of square brackets and define the expression for the values you want to store in the new list. Notice that no colon is used at the end of the for statement.


```
{list name} = [{exqression} for {temperate variable} in range()]
```

In [ ]:
squares1 = []
for value in range(1,11):
  squares1.append(value**2)
print(f'The original result is {squares1}')
squares2 = [value**2 for value in range(1,11)]
print(f'The list comprehension result is {squares2}')

The original result is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
The list comprehension result is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Ex 4-1. Threes:** Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbers in your list.

In [ ]:
Threes = list(range(3,31,3))
for three in Threes:
  print(three)

3
6
9
12
15
18
21
24
27
30

**Ex 4-2. Cube Comprehension** Use a list comprehension to generate a list of the first 10 cubes.

In [ ]:
cubes = [cube**3 for cube in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Working with Part of a List

To slice a list, you specify the index of the first and last elements you want to work with. 
Hence, you can generate any subset of a list.

If you omit the first index of a list, Python automatically starts your slice at the beginning of the list.

Also, you can omit the second index if you want a slice that includes the end of a list.

If a third value is included, this tells Python how many items to skip between items in the specified range.

The negative index also apply in this case.

In [ ]:
musicians = ['Beethoven','Bach','Chopin','Haydn','Mozart']
print(musicians[1:4])
print(musicians[:3])
print(musicians[2:])
print(musicians[-3:])

['Bach', 'Chopin', 'Haydn']
['Beethoven', 'Bach', 'Chopin']
['Chopin', 'Haydn', 'Mozart']
['Chopin', 'Haydn', 'Mozart']

You can use a slice in a for loop if you want to loop through a subset of the elements in a list. 
Slices are very useful when you are working with data.

In [ ]:
print('Here are my favourite musicians:')
for musician in musicians[:3]:
  print(musician)

Here are my favourite musicians:
Beethoven
Bach
Chopin

To copy a list, omit both index in the braket([ : ]). This tells Python to make a slice that starts at the first item and ends with the last items, producing a copy of the entire list.

In [ ]:
MyMusicians = ['Bach', 'Chopin']
FriendMusicians = MyMusicians[:]
print(f'My favourite musicians are \n {MyMusicians}')
print(f"My friend's favourite musicians are \n {FriendMusicians}")

MyMusicians.append('Haydn')
FriendMusicians.append('Mozart')
print(f'Top three musicians in my mind are \n {MyMusicians}')
print(f"Top three musicians in my friend's mind are \n {FriendMusicians}")

My favourite musicians are
 ['Bach', 'Chopin']
My friend's favourite musicians are
 ['Bach', 'Chopin']
Top three musicians in my mind are
 ['Bach', 'Chopin', 'Haydn']
Top three musicians in my friend's mind are
 ['Bach', 'Chopin', 'Mozart']

Sometimes if we forget to add the braket, things will become like that:

In [ ]:
MyMusicians = ['Bach', 'Chopin']
FriendMusicians = MyMusicians
print(f'My favourite musicians are \n {MyMusicians}')
print(f"My friend's favourite musicians are \n {FriendMusicians}")

MyMusicians.append('Haydn')
FriendMusicians.append('Mozart')
print(f'Top three musicians in my mind are \n {MyMusicians}')
print(f"Top three musicians in my friend's mind are \n {FriendMusicians}")

My favourite musicians are
 ['Bach', 'Chopin']
My friend's favourite musicians are
 ['Bach', 'Chopin']
Top three musicians in my mind are
 ['Bach', 'Chopin', 'Haydn', 'Mozart']
Top three musicians in my friend's mind are
 ['Bach', 'Chopin', 'Haydn', 'Mozart']

That's because both variables point to the same list. As a result, when we add 'Haydn' to *MyMusicians*, it will also appear in *FriendMusicians*.

## Tuples

A tuple is an immutable list, which uses parentheses instead of square brakets. 

Many opperations that are suitable for list are applicable to tuple.

We can't change the value of tuple but we can assign a new value to a variable that represents a tuple because reassigning a variable is valid. 

There are two operation of tuple. One is 'count', another is 'index'.
When we don't want to change the value of list, then we use tuple.

In [ ]:
Weight = (55,60,65)
print(Weight[1])
print(Weight.count(65))

60
1

Remark: Tuples are technically defined by the presence of a comma. If you want to define a tuple with one element, yuo need to include a trailing comma.


```
# tuple = (5,)
```